.universe {
  display: flex;
  flex-flow: column;
}

.sky {
  height: 60%;
  position: absolute;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  background: black;
}

.star {
  position: absolute;
  animation: move-star 100s ease-in-out infinite;
  color: white;
}

@keyframes move-star {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-7000%);
  }
}

.horizon {
  height: 5%;
  width: 100%;
  top: 60%;
  position: absolute;
  background: linear-gradient(black, rgb(3, 30, 53));
}

.sea {
  height: 20%;
  position: absolute;
  width: 100%;
  top: 65%;
  transform: rotate(180deg);
  z-index: 1;
}

.beach {
  position: absolute;
  height: 22%;
  top: 80%;
  width: 100%;
  background: linear-gradient(rgb(3, 30, 53), #dcd3b2)
}

.github-logo {
  position: absolute;
  top: 90%;
}

#canvas {
  display: block;
}